In [2]:
import pandas as pd

census = pd.read_csv("acs2017_census_tract_data.csv")
covid = pd.read_csv("COVID_county_data.csv")

In [27]:
census.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [28]:
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [29]:
options = ['Loudoun County','Washington County','Harlan County','Malheur County']
options1 = ['Virginia','Oregon','Kentucky']
temp = census[census['County'].isin(options) & census['State'].isin(options1)]
data = temp.groupby(['County']).mean()
county_info = data[['TotalPop','Poverty','IncomePerCap']]
county_info.head

<bound method NDFrame.head of                       TotalPop    Poverty  IncomePerCap
County
Harlan County      2504.363636  33.318182  16010.363636
Loudoun County     5762.430769   3.884375  50391.015625
Malheur County     3802.625000  24.414286  17966.428571
Washington County  5321.058333  11.070000  33713.533333>

In [30]:
data = census.groupby(['County']).mean()
County_info = data[['TotalPop','Poverty','IncomePerCap']].sort_values('TotalPop', ascending=False)
County_info.head

<bound method NDFrame.head of                       TotalPop    Poverty  IncomePerCap
County
Kendall County    10202.437500   5.975000  34902.250000
Fort Bend County   9360.802632   9.773684  36622.236842
Ascension Parish   8509.214286  13.350000  30037.714286
Sherburne County   8365.818182   6.709091  32966.545455
Rockwall County    8219.454545   6.036364  39653.818182
...                        ...        ...           ...
Petroleum County    453.000000  10.100000  31549.000000
Arthur County       421.000000  10.900000  21799.000000
Kenedy County       282.000000  24.800000  13705.000000
Loving County        74.000000  17.100000  35530.000000
Kalawao County       43.000000  12.700000  46024.000000

[1955 rows x 3 columns]>

In [31]:
covid['date'] = pd.to_datetime(covid['date'])
covid['day_of_week'] = covid['date'].dt.day_name()
covid['month'] = pd.DatetimeIndex(covid['date']).month
covid['year'] = pd.DatetimeIndex(covid['date']).year
covid.head(200)

,date,county,state,fips,cases,deaths,day_of_week,month,year
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,Tuesday,1,2020
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,Wednesday,1,2020
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,Thursday,1,2020
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,Friday,1,2020
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,Friday,1,2020
...,...,...,...,...,...,...,...,...,...
195,2020-02-17,Santa Clara,California,6085.0,2,0.0,Monday,2,2020
196,2020-02-17,Cook,Illinois,17031.0,2,0.0,Monday,2,2020
197,2020-02-17,Suffolk,Massachusetts,25025.0,1,0.0,Monday,2,2020
198,2020-02-17,Douglas,Nebraska,31055.0,10,0.0,Monday,2,2020
199,2020-02-17,Bexar,Texas,48029.0,2,0.0,Monday,2,2020

In [59]:
options = ['Malheur']
options1 = ['Oregon']
options2 = [1,2,8]

temp = covid[covid['county'].isin(options) & covid['state'].isin(options1)]

data = temp.groupby(['county','month','year']).sum()
data[['cases','deaths']].head(200)
# idx = pd.IndexSlice
# A = data.loc[:,idx[:,'Melheur']]
# B = data.loc[:,idx[:,'2021']]
# A.head()

                    cases  deaths
county  month year
Malheur 1     2021  96297  1627.0
        2     2021  65951  1137.0
        3     2020      1     0.0
        4     2020    125     0.0
        5     2020    626     0.0
        6     2020   1447    24.0
        7     2020  12773   130.0
        8     2020  28163   459.0
        9     2020  43150   693.0
        10    2020  56398  1061.0
        11    2020  65787  1174.0
        12    2020  82916  1465.0

In [54]:
data = covid[['state','county','fips']]
temp = data.drop_duplicates()
temp.head(100)

data = covid.groupby(['county','month','year','county','state']).sum()
COVID_monthly = data[['cases','deaths']]
COVID_summary = pd.concat([temp, COVID_monthly],axis=1)
COVID_summary.head()

        state       county     fips  cases  deaths
0  Washington    Snohomish  53061.0    NaN     NaN
3    Illinois         Cook  17031.0    NaN     NaN
5  California       Orange   6059.0    NaN     NaN
8     Arizona     Maricopa   4013.0    NaN     NaN
9  California  Los Angeles   6037.0    NaN     NaN